.submit-btn {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #df5600;
  cursor: pointer;
}

.label-title {
  color: white;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}

.h1-title {
  text-align: center;
  color: white;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}

.input-login {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  letter-spacing: 1px;
}

.span-style {
  color: white;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  margin-top: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.span-style:hover {
  color: black;
}

.errorMsg {
  margin: 14px 0 0 0;
  text-align: left;
  color: #fff;
  font-size: 16px;
}

.body-container {
  position: relative;
  width: 90%;
  min-height: 70vh;
  padding: 0 20px;
  background-color: white;
  display: flex;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 60px;
  margin: -200px auto auto -250px;
  width: 100%;
  max-width: 600px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #eb4511;
  background: linear-gradient(315deg, #eb4511 0%, #b02e0c 74%);
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.btnContainer {
  width: 100%;
  padding: 24px 0;
}
