.post-container {
  left: 250px;
  display: flex;
}

.post-editor {
  margin: 1em 20%;
}

.post-editor-button {
  float: right;
  margin-top: 1em;
}

.post-body {
  margin: 1em 20%;
}

@media screen {
  .post-editor {
    margin: 1em;
  }

  .post-body {
    margin: 1em;
  }
}
